body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: 2px solid goldenrod;
    border-radius: 4px; 
}

form {
    margin: 5px;
    background-color: seashell;
}

label {
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 800;
    font-size: 1.1em;
}

#conceptsCovered, textarea {
    width: 100%;
}

.center {
    margin: auto 0;
    text-align: center;
}