body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form-field {
    display: block;
}

#filterContainer {
    display: flex;
    flex-flow: row wrap;
}

#filterContainer > fieldset {
    vertical-align: top;
    margin: 20px;
    width: 40%;
}

fieldset {
    border: 1px solid;
    background-color: rgb(216, 245, 247);
    border-radius: 4px; 
    padding: 10px;
    min-width: 325px;
}

form {
    margin: 25px;
}

label {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 1.1em;
}

#characters-remaining {
    margin-left: 10px;
    font-style: italic;
}

.warning {
    color: red;
}

#conceptsCovered, textarea {
    width: 100%;
}

.center {
    margin: auto 0;
    text-align: center;
}

button {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
    width: 200px;
}

.jumbotron {
    background-image: url("../src/assets/Looseleaf_Legal_Pad_Background.svg");
    /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/42/Looseleaf_Legal_Pad_Background.svg"); */
}
.updated {
    background-color: lightgreen;
}

.entry {
    margin: 50px 10%;
    padding: 15px;
    /* https://stackoverflow.com/questions/8289470/creating-a-fuzzy-border-in-css-3 */
    /* box-shadow: [direction (inset)] [color] [Horizontal Distance] [Vertical Distance] [size];  */
    box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
    border-radius: 15px;
}

#today-button {
    width: 50px;
    margin-left: 10px;
    padding: 5px;
    background-color: lightblue;
}

legend {
    border-bottom: none;
}

#mood-filter > label {
    display: block;
    margin-left: 10px;
}